.container {
  background-color: #fff;
  padding: 0.5%;
  align-content: center;
  justify-content: center;
}

.grid {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #f8c300;
  padding: 5%;
}
